body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height:100vh;

}
section{
    background-color: #fff;
    width:350px;
    padding:20px;
    border-radius:6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

button{
    background-color: violet;
    border: 1px solid violet;
    padding:10px 10px;
    color:#fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
img{
    width:100%;
}
